#hire_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 31.25rem;
  max-height: var(--hight);
  color: var(--white);
  margin-bottom: 20rem;
}

#marcador_e_título {
  display: flex;
  align-items: center;
  justify-content: start;
}

#marcador {
  max-height: 35px;
}

#hire_me h3 {
  margin-top: 5%;
}
