#skills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;
  color: var(--white);
}

.containerSkills {
  display: inline-flex;

}
.containerSkillsImg {
  width: 18%;
  filter: drop-shadow(rgba(240, 46, 170, 0.4) 5px 5px 5px);
}
